name: Slither Analysis

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Run Slither
      uses: crytic/slither-action@v0.3.0
      id: slither
      with:
        node-version: 16
        fail-on: none
        slither-args: --checklist --markdown-root ${{ github.server_url }}/${{ github.repository }}/blob/${{ github.sha }}/
    
    - name: Send mail
      uses: dawidd6/action-send-mail@v2
      with:
        server_address: smtp-relay.sendinblue.com
        server_port: 587
        username: ${{secrets.MAIL_SENDER_USERNAME}}
        password: ${{secrets.MAIL_SENDER_PASSWORD}}
        subject: New commit on main branch
        to: ${{secrets.MAIL_TO}}
        from: Your Olympix Assistant <${{secrets.MAIL_SENDER_USERNAME}}>
        body: There was a new commit on the main branch.

    # - name: Create/update checklist as PR comment
    #   uses: actions/github-script@v6
    #   if: github.event_name == 'pull_request'
    #   env:
    #     REPORT: ${{ steps.slither.outputs.stdout }}
    #   with:
    #     script: |
    #       const script = require('.github/scripts/comment')
    #       const header = '# Slither report'
    #       const { REPORT } = process.env
    #       await script({ github, context, header, body: REPORT })